:root{
    --main-bg-color: #84bd00;
    --main-color: #fff;
    --main-font: 'Circe Regular';
    font-size: 18px;
}
.hidden{
    display: none!important;
}
.text-center{
    text-align: center!important;
}
body{
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: var(--main-font);
}
.ram-team{
    padding: 2rem 0 3rem 0;
}
.ram-team h1{
    text-align: center;
    text-transform: uppercase;
}
.ram-team .filter-section li{
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid transparent;
}
.ram-team .filter-section li.active{
    border-color: #fff;
}
.ram-team .filtered-list{
    display: grid;
    grid-template-columns: repeat(6, 16%);
    padding-bottom: 1rem;

}
.ram-team .filtered-list .filtered-list__item{
    background-color: #fff;
    cursor: pointer;
    height: 200px;
    list-style-type: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
a.share svg{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 4px;
    top: 7px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
a.share:hover svg{
    transform: rotate3d(1, -1, -1, 1turn);
}
a.share{
    position: relative;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 11px;
    padding-left: 25px;
    padding-right: 10px;
    font-size: .7rem;
    font-weight: 600;
    transition: background cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}
a.share:hover{    
    background: #051b20;
}

/* popup */
#popup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0,0,0,.7);
    color: #000;
    top: 0;
    left: 0;
}
.popup__window{
    position: relative;    
    border-radius: 10px;
    min-width: 50%;
    max-width: 80%;
    height: fit-content;
    max-height: 92%;
    background-color: #fff;
    padding: 5% 15px;
}
.popup__window__close{
    position: absolute;
    right: 5px;
    top: 5px;
    fill: var(--main-bg-color);
    cursor: pointer;
    z-index: 10;
}
.popup__window__avatar{    
    height: 100%;
    list-style-type: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.popup__window__name{
    margin-top: 0;
}

@media(max-width: 1024px){
    .ram-team .filtered-list{        
        grid-template-columns: repeat(2, 50%);
    }
}

@media(max-width: 450px){
    .ram-team .filtered-list{        
        grid-template-columns: repeat(1, 100%);
    }
    .popup__window__avatar{
        height: 250px;
    }
    .popup__window{
        padding-top: 45px;
        overflow: auto;
    }
}